// Screen sizes

$screen-sm: 320px;
$screen-md: 1024px;
$screen-lg: 1300px;

// typography

$base-family: 'Work Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 500;
$font-height: 1.5;

$header-family: 'Work Sans', sans-serif;
$primary-color: #1C1C1C;

$gutter-mobile: 30px;
$gutter: 40px;

$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;